
*{
    outline: none;
    border:none;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

p {
    font-size: 0.875em;
}
.success{
    color:rgb(16, 148, 16);
}

.failure, .required, .errMsg{
    color:rgb(252, 2, 2);
}

.message,.optional{
    color:rgb(0,0,204);
}

.success,.failure,.message{
    font-family: sans-serif;
    font-size: 0.875em;
}

button, input[type=submit]{
    cursor: pointer;
}
input,select,button,textarea{
    outline: 1px solid #ddd;
}

.smallNotification{
    color: rgb(0,0,255);
    font-size: 15px;
}
.tdLink{
    color: rgb(0,0,255);
    cursor: pointer;
}

.hidden{
    visibility:hidden;
}

.none{
    display:none;
}

.cursor-hand{
    cursor: pointer;
}
#messageContainer{
    text-align: center;
}

.g-1{
        gap: 1rem;
    }
.g-2{
        gap: 2rem;
    }
.g-3{
        gap: 3rem;
    }
.g-4{
        gap: 4rem;
    }
.g-5{
        gap: 5rem;
    }
.g5{
        gap: .5rem;
    }

.gx-1{
        column-gap: 1rem;
    }
.gx-2{
        column-gap: 2rem;
    }
.gx-3{
        column-gap: 3rem;
    }
.gx-4{
        column-gap: 4rem;
    }
.gx-5{
        column-gap: 5rem;
    }
.gy-1{
        row-gap: 1rem;
    }
.gy-2{
        row-gap: 2rem;
    }
.gy-3{
        row-gap: 3rem;
    }
.gy-4{
        row-gap: 4rem;
    }
.gy-5{
        row-gap: 5rem;
    }


