 .failure {
     color: #dc1d34;
    padding: 3px;
 }

 .success {
     color: #168b3f;
     padding: 3px;
 }

 .inputsuccess {
     outline: none;
     border: 1px solid #168b3f !important;
     border-bottom-width: 2px !important;
 }

 .inputfailure {
     outline: none;
     border: 1px solid #dc1d34 !important;
     border-bottom-width: 2px !important;
 }