
*{
    outline: none;
    border:none;
    margin:0px;
    padding: 0px;
}
.success{
    color:rgb(16, 148, 16);
}

.failure{
    color:rgb(145, 11, 11);
}

.message{
    color:rgb(24, 11, 145);
    font-size: 1em;
}
table .section td{
    font-weight: bold;
    padding-top: 11px;
}

.sectionhead{
    font-weight: bold;
}